@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0b0c;
  --foreground: #f2f2f3;
}

html, body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}
